.header {
    background-color: rgba(233, 227, 227, 0.63);
    width: 80%;
    height: 50%;
    margin: 1rem auto 0 auto;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}
mat-card-title {
    font-size: 20px;
}