<form class="container"><br>
    <h1>Atualizando técnico</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="tecnico.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. Linus Torvalds">
        <mat-error *ngIf="nome.invalid">{{ errorValidNome() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="tecnico.cpf" [formControl]="cpf" required name="cpf" maxlength="15" matInput placeholder="000.000.00-00">
        <mat-error *ngIf="cpf.invalid">{{ errorValidCpf() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.telefone" [formControl]="telefone" required name="telefone" maxlength="18" matInput placeholder="(00) 90000-0000">
        <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="tecnico.endereco" [formControl]="endereco" required name="endereco" maxlength="200" matInput placeholder="Ex. Linus Torvalds">
        <mat-error *ngIf="endereco.invalid">{{ errorValidEndereco() }}</mat-error>
    </mat-form-field>

    <button (click)="update()" [disabled]="errorValidNome() || errorValidCpf() || errorValidTelefone() || errorValidEndereco() " mat-stroked-button color="accent">ATUALIZAR</button>
    <button (click)="navigateToCancel()" mat-stroked-button color="warn">CANCELAR</button><br>
</form>